{% extends "base.html" %}

{% block title %}
    Processo | {{ processo.cargo }}
{% endblock %}

{% block page_content %}
    <div class="container mt-3">
        <h1>{{ processo.cargo }} </h1>
        <p>
            <a href="{{ url_for('processos.edit', id=processo.id) }}"><span class="badge badge-warning">edit</span></a>
            <a href="{{ url_for('processos.delete', id=processo.id) }}"><span
                    class="badge badge-danger">delete</span></a>
        </p>
        <hr>
        <p>{{ processo.descricao }}</p>
        <p>
            De {{ processo.dt_inicio.strftime("%d/%m/%Y") }} até
            {% if processo.dt_fim %}
                {{ processo.dt_fim.strftime("%d/%m/%Y") }}.
            {% else %}
                o momento.
            {% endif %}
        </p>

        <h2>Etapas</h2>
        <hr>
        {% with etapas = processo.etapas %}
            {% if etapas %}
                <div class="accordion" id="etapas">
                    {% for etapa in etapas %}
                        <div class="card">
                            <div class="card-header" id="heading-{{ etapa.id }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapse-{{ etapa.id }}"
                                            aria-expanded="false"
                                            aria-controls="collapse-{{ etapa.id }}">
                                        {{ etapa.titulo }}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse-{{ etapa.id }}" class="collapse" aria-labelledby="heading-{{ etapa.id }}"
                                 data-parent="#etapas">
                                <div class="card-body">
                                    <p>{{ etapa.descricao }}</p>

                                    <p>
                                        De {{ etapa.dt_inicio.strftime("%d/%m/%Y") }} até
                                        {% if etapa.dt_fim %}
                                            {{ etapa.dt_fim.strftime("%d/%m/%Y") }}
                                        {% else %}
                                            o momento
                                        {% endif %}
                                    </p>
                                    <hr>
                                    <p>
                                        <a href="{{ url_for('.edit_etapa', processo_id=processo.id, etapa_id=etapa.id) }}">
                                            <span class="badge badge-warning">Editar</span>
                                        </a>
                                        |
                                        <a href="{{ url_for('.delete_etapa', processo_id=processo.id, etapa_id=etapa.id) }}">
                                            <span class="badge badge-danger">Excluir</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Este processo ainda não possui etapas</p>
            {% endif %}
        {% endwith %}
        <a href="{{ url_for('.add_etapa', id=processo.id) }}">
            Adicionar etapa
        </a>
    </div>
{% endblock %}
