{% extends "base.html" %}

{% block title %}
    Processo | {{ processo.cargo }}
{% endblock %}

{% block page_content %}
    <div class="container mt-3">
        <h1>{{ processo.cargo }} </h1>
        <p>
            <a href="{{ url_for('processos.edit', id=processo.id) }}"><span class="badge badge-warning">edit</span></a>
            <a href="{{ url_for('processos.delete', id=processo.id) }}"><span class="badge badge-danger">delete</span></a>
        </p>
        <hr>
        <p>{{ processo.descricao }}</p>
        <p>
            De {{ processo.dt_inicio.strftime("%d/%m/%Y") }} até
            {% if processo.dt_fim %}
                {{ processo.dt_fim.strftime("%d/%m/%Y") }}.
            {% else %}
                o momento.
            {% endif %}
        </p>

        <h2>Etapas</h2>
        <hr>
        <ul>
            {% for etapa in processo.etapas %}
                <li>{{ etapa.titulo }}</li>
            {% endfor %}
            <a href="{{ url_for('.add_etapa', id=processo.id) }}"><li>Adicionar etapa</li></a>
        </ul>
    </div>
{% endblock %}
